# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock

# production
/dist
/public/assets/model/laofoy
/public/assets/model/stl
/build

# publish
/publish.yaml
/*.publish.yaml

# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
