{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "bracketSpacing": true,
    "printWidth": 140,
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
